{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2> Categories </h2>
            {% if categories %}
                {% for category in categories %}
                <h3><a href="{{ url_for('show_category_items', category_id=category.id) }}">{{category.name}}</a></h3>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md">
            {% if items %}
            <h4>{{category.name}} Items ({{ items|length }})</h4>
            <div class="card">
                <ul class="list-group list-group-flush">
                {% for it in items %}
                    <li class="list-group-item"><a href="{{ url_for('show_item', category_id=category.id, item_id=it.id) }}">{{ it.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
            <h4>There are no {{ category.name }} items!</h4>
            <a href="{{ url_for('new_item') }}">Add a new item</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}