{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2> Categories </h2>
            {% if categories %}
                {% for category in categories %}
                    <h3>{{category.name}}</h3>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md">
            {% if items %}
            <h4>{{category.name}} Items</h4>
            <div class="card">
                <ul class="list-group list-group-flush">
                {% for it in items %}
                    <li class="list-group-item">{{ it.name }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}